@keyframes flip {
  0% {
    transform: scale(0, 1);
    background-color: #ccc;
  }
  100% {
    transform: scale(1);
  }
}
.form-pagelist {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  width: 80%;
  margin: 0;
  margin-left: 10%;
  padding: 20px;
  border-radius: 2px;
}
.form-pagelist ul {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
.form-pagelist li {
  list-style: none;
  margin: 10px 0px;
}
.form-pagelist input[type="radio"],
.form-pagelist input[type="checkbox"] {
  cursor: pointer;
}
.form-pagelist .form-next-page,
.form-pagelist .form-prev-page,
.form-pagelist .form-submit {
  font-size: 1.2em;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 150ms;
  margin-right: 20px;
}
.form-pagelist .form-next-page:hover,
.form-pagelist .form-prev-page:hover,
.form-pagelist .form-submit:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.form-pagelist .form-page {
  color: inherit;
}
.form-pagelist .form-page .form-page-header {
  font-size: 2.5em;
  margin: 20px 0;
  padding-left: 20px;
  padding-right: 20px;
}
.form-pagelist .form-page .form-page-subtitle {
  padding-left: 20px;
  padding-right: 20px;
}
.form-pagelist .form-page .form-title {
  margin: 0;
  width: calc(60%);
}
.form-pagelist .form-page .form-subtitle {
  margin: 0;
  width: 93%;
}
.form-pagelist .form-page .form-line-group {
  width: -moz-max-content;
  width: -webkit-max-content;
  width: -ms-max-content;
  width: -o-max-content;
  width: max-content;
}
.form-pagelist .form-page .form-line-group .form-line-bottom {
  width: 100%;
  height: 2px;
}
.form-pagelist .form-page .form-input-descriptor {
  margin-left: 5px;
  cursor: pointer;
}
.form-pagelist .form-page .form-error {
  display: none;
  font-weight: bold;
  color: red;
  top: 5px;
}
.form-pagelist .form-page .form-input {
  margin-top: 40px;
  font-size: 1.1em;
  padding: 20px;
}
.form-pagelist .form-page .form-input input {
  padding: 8px;
  border: 0px;
  margin: 0;
}
.form-pagelist .form-page .form-input input:not(:focus) + .form-line-bottom {
  background: #ccc;
}
.form-pagelist .form-page .form-input input:focus + .form-line-bottom {
  animation: flip 600ms;
  background: #0078ff;
}
.form-pagelist .form-page .form-input input:focus + .form-line-bottom::before {
  width: 100%;
}
.form-pagelist .form-page .form-input input::before {
  color: blue;
}
.form-pagelist .form-page .form-radio,
.form-pagelist .form-page .form-checkbox {
  margin-top: 40px;
  font-size: 1.1em;
  padding: 20px;
}
.form-pagelist .form-page .form-radioMatrix,
.form-pagelist .form-page .form-checkboxMatrix {
  margin-top: 40px;
  font-size: 1.1em;
  padding: 20px;
}
.form-pagelist .form-page .form-radioMatrix table,
.form-pagelist .form-page .form-checkboxMatrix table {
  padding-top: 10px;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.form-pagelist .form-page .form-radioMatrix table tr:nth-child(2n),
.form-pagelist .form-page .form-checkboxMatrix table tr:nth-child(2n) {
  background: rgba(238, 238, 238, 0.4);
}
.form-pagelist .form-page .form-radioMatrix table tr:nth-child(2n+3),
.form-pagelist .form-page .form-checkboxMatrix table tr:nth-child(2n+3) {
  background: #dad8d8;
}
.form-pagelist .form-page .form-radioMatrix table td,
.form-pagelist .form-page .form-checkboxMatrix table td,
.form-pagelist .form-page .form-radioMatrix table th,
.form-pagelist .form-page .form-checkboxMatrix table th {
  height: 3em;
}
.form-pagelist .form-page .form-radioMatrix table td input,
.form-pagelist .form-page .form-checkboxMatrix table td input,
.form-pagelist .form-page .form-radioMatrix table th input,
.form-pagelist .form-page .form-checkboxMatrix table th input {
  color: inherit;
}
.form-pagelist .form-page .form-radioMatrix table td,
.form-pagelist .form-page .form-checkboxMatrix table td,
.form-pagelist .form-page .form-radioMatrix table th:not(:first-child),
.form-pagelist .form-page .form-checkboxMatrix table th:not(:first-child) {
  text-align: center;
  max-width: 60px;
  word-wrap: break-word;
}
.form-pagelist .form-page .form-radioMatrix table th:first-child,
.form-pagelist .form-page .form-checkboxMatrix table th:first-child {
  padding-left: 10px;
}
.form-pagelist .form-page .form-plainText {
  margin-top: 40px;
  font-size: 1.1em;
  padding: 20px;
  word-wrap: break-word;
}
.form-pagelist .form-page .form-plainText .form-plain-text-body {
  margin-top: 20px;
}
.form-pagelist .form-page .form-plainText img {
  max-width: 100%;
  margin: 20px 0px;
}
.form-pagelist .form-page .form-incomplete {
  background-color: #ffebee;
  border-radius: 2px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.form-pagelist .form-page .form-incomplete .form-error {
  display: initial;
}
.form-pagelist .form-btn-container {
  padding: 20px;
}
.form-pagelist .form-hidden {
  display: none;
}
